<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="d-sm-flex align-items-center justify-content-between mb-3 mt-2">
        <h1 class="h3 mb-0 text-gray-800">Personal account</h1>
    </div>
    <div class="row ml-auto">
        <div class="col mr-2 d-none d-lg-inline text-gray-600">
            <h4 class="text-right text-danger">{{accountInfo.owner.name}}</h4>
            <div class="small text-right">{{accountInfo.owner.eMail}}</div>
        </div>
    </div>

</nav>
<!-- End of Topbar -->

<div class="container-fluid" >
    <!--userDebitId: {{user.debitId}}
    userId: {{user.id}}
    IsCheckedIndex: {{isCheckedIndex}}
    TestScope: {{testScope}} -->
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <div class="row ml-1 mb-3">
                <!-- Content Row -->

                <!-- Content Row -->
                <div class="mb-2 ml-1">
                    <a href="#createCreditModal" data-toggle="modal" class="btn btn-primary btn-icon-split">
                        <span class="text" >Create credit</span>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="#incomeOp" data-toggle="modal" class="btn btn-success btn-icon-split ml-1">
                        <span class="text">Add income</span>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="#expenseOp" data-toggle="modal" class="btn btn-danger btn-icon-split ml-1">
                        <span class="text">Add expense</span>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="#report" data-toggle="modal" class="btn btn-info btn-icon-split ml-1">
                        <span class="text">Get report</span>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="#prediction" data-toggle="modal" class="btn btn-warning btn-icon-split ml-1">
                        <span class="text">Prediction</span>
                    </a>
                </div>
            </div>
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-md-4 mb-5">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Current amount</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{accountInfo.amount}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class=" col-md-4 mb-5">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Month income</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{accountInfo.monthIncome}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Month expense</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{accountInfo.monthExpense}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- History Card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">History</h6>
                </div>
                <div class="card-body" ng-controller="PersonalDebitController">
<!--                    <select class="form-control" id = "historyPeriod" ng-click="fetchPeriodHistory()">-->
<!--                        <option selected="selected" value="1">Last operations</option>-->
<!--                        <option value="1">Month</option>-->
<!--                        <option value="6">Half year</option>-->
<!--                        <option value="12">Year</option>-->
<!--                    </select>-->
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Name</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="hisInf in personalHistory" ng-class="{'text-success' : hisInf.categoryIncome, 'text-danger' : hisInf.categoryExpense}">
                            <td>
                                <span ng-show="hisInf.categoryIncome">
                                    Income
                                </span>
                                <span ng-show="hisInf.categoryExpense">
                                    Expense
                                </span>
                            </td>
                            <td>
                                <span ng-show="hisInf.categoryIncome">
                                    +{{hisInf.amount}}
                                </span>
                                <span ng-show="hisInf.categoryExpense">
                                    -{{hisInf.amount}}
                                </span>
                            </td>
                            <td>
                                {{hisInf.categoryIncome}}{{hisInf.categoryExpense}}
                            </td>
                            <td>{{hisInf.date.date.year}}-{{hisInf.date.date.month}}-{{hisInf.date.date.day}} {{hisInf.date.time.hour}}:{{hisInf.date.time.minute}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4" ng-controller="PersonalCreditController">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Credits</h6>
                </div>
                <div class="card-body" style="height: 250px; overflow-y: auto;" ng-init="fetchCreditList()">
                    <table class="table table-hover table-cursor">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Remains to pay</th>
                            <th>Ends date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr ng-repeat="credInf in personalCredit" ng-show="credInf.isPaid == 'NO'" data-toggle="modal"
                            data-target="#infoCreditModal" ng-click="fetchPersonalCredit()" ng-mouseover="sendCreditId(credInf.creditId)">-->
                        <tr ng-repeat="credInf in personalCredit" ng-show="credInf.isPaid == 'NO'" onclick="InfoModalShow()"
                            ng-click="fetchPersonalCreditFromArray(); fetchCreditHistoryPersonal()" ng-mouseover="changeCreditIdInArray(credInf.creditId)">
                            <td>{{credInf.name}}</td>
                            <td>{{credInf.amount}}</td>
                            <td>{{credInf.remainsToPay}}</td>
                            <td>{{credInf.dateTo.year}}-{{credInf.dateTo.month}}-{{credInf.dateTo.day}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                    <div class="card-footer" style="height: 60px; position:relative;">
                        <center><button type="submit" class="btn btn-info" style="position: absolute; top: 50%; left: 50%; margin: 0 -50% 0 0; transform: translate(-50%, -50%);"
                                        data-toggle="modal" data-target="#showAllCreditModal" ng-show="personalCredit.length > 0">
                            Show all credits</button></center>
                    </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Auto operations</h6>
                </div>
                <div class="card-body" ng-controller="PersonalDebitController">
                    <div  class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Day of month</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="autoOperInf in personalAutoOperationHistory">
                            <td>
                                <a class="text-danger" ng-click="">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                            <td>
                                <span ng-show="autoOperInf.categoryIncome">
                                    Income
                                </span>
                                <span ng-show="autoOperInf.categoryExpense">
                                    Expense
                                </span>
                            </td>
                            <td>{{autoOperInf.categoryExpense}}{{autoOperInf.categoryIncome}}</td>
                            <td>{{autoOperInf.amount}}</td>
                            <td>{{autoOperInf.dayOfMonth}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

    </div>
</div>
</div>

<div class="modal fade" id="showAllCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCr"
     aria-hidden="true" style="overflow-x: hidden;" data-backdrop="static">
    <div class="modal-dialog modal-lg mw-100" role="document">
        <div class="modal-content">
            <div class="modal-header" style="position: relative;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="exampleModalLabelCr" class="modal-title" style="position: absolute; top: 50%; left: 50%; margin: 0 -50% 0 0; transform: translate(-50%, -50%);">
                    All credits</h4>
            </div>
            <div class="modal-body" ng-controller="PersonalCreditController" >
                <div style="height: 400px; overflow-y: auto;">
                <table class="table table-striped default-table">
                    <thead style="background: #F8F9FC; color: #4E73E5;">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Paid amount</th>
                        <th>Start date</th>
                        <th>Credit rate</th>
                        <th>Ends date</th>
                        <th>Month day</th>
                        <th>Is commo<br/>dity</th>
                        <th>Debt</th>
                        <th>Is paid</th>
                        <th>Total credit payment</th>
                        <th>Month payment</th>
                        <th>Remains to pay</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="credInf in personalCreditRoot">
                        <td>{{credInf.name}}</td>
                        <td >{{credInf.amount}}</td>
                        <td >{{credInf.paidAmount}}</td>
                        <td>{{credInf.date.year}}-{{credInf.date.month}}-{{credInf.date.day}}</td>
                        <td >{{credInf.creditRate}}</td>
                        <td >{{credInf.dateTo.year}}-{{credInf.dateTo.month}}-{{credInf.dateTo.day}}</td>
                        <td>{{credInf.monthDay}}</td>
                        <td>{{credInf.isCommodity}}</td>
                        <td>{{credInf.debt.amountDebt}}</td>
                        <td>{{credInf.isPaid}}</td>
                        <td>{{credInf.totalCreditPayment}}</td>
                        <td>{{credInf.monthPayment}}</td>
                        <td>{{credInf.remainsToPay}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#showAdditionalInfo"
                onclick="$('#showAllCreditModal').css('display', 'none');">Show additional information</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class=" modal fade" id="showAdditionalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCr"
     aria-hidden="true" style="overflow-x: hidden;" data-backdrop="static" ng-controller="PersonalCreditController">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="position: relative;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="$('#showAllCreditModal').css('display', 'block');">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="position: absolute; top: 50%; left: 50%; margin: 0 -50% 0 0; transform: translate(-50%, -50%);">
                    Additional information about credits</h4>
            </div>
            <div class="modal-body">
                The amount of payment for all credits is: <pre class="pre">{{summAmount}}</pre>
                Already paid on all credits: <pre class="pre">{{summPaidAmount}}</pre>
                It remains to pay on all credits: <pre class="pre">{{remainsToPay}}</pre>
                Debt on all credits: <pre class="pre">{{allDebt}}</pre>
                <b><p>Total credits in the account: {{totalCredits}}</p>
                    <p>Total credits already paid: {{totalPaidCredits}}</p></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#showAllCreditModal').css('display', 'block');">Close</button>
            </div>
        </div>
    </div>
</div>

<form novalidate="novalidate" name="addPay" ng-controller="PersonalCreditController" ng-submit="addCreditPayment(personalCreditor.creditId)">
    <div class="dm-overlay" id="infoCreditModal"><div class="dm-table"><div class="dm-cell"><div class="dm-modal min-width700">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title"> "{{personalCreditor.name}}" credit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="InfoModalHide()"
                    ng-click="closeInfo(); setCheckedIndexFalse();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <div class="col-lg-6 mb-4" style="position: relative;">
                        <table class="table table-borderless">
                            <tr>
                                <th>Amount:</th>
                                <td>{{personalCreditor.amount}}</td>
                            </tr>
                            <tr>
                                <th>Paid amount:</th>
                                <td>{{personalCreditor.paidAmount}}</td>
                            </tr>
                            <tr>
                                <th>Rate:</th>
                                <td>{{personalCreditor.creditRate}}</td>
                            </tr>
                            <tr>
                                <th>Start date:</th>
                                <td>{{personalCreditor.date.year}}-{{personalCreditor.date.month}}-{{personalCreditor.date.day}}</td>
                            </tr>
                            <tr>
                                <th>Ends date:</th>
                                <td>{{personalCreditor.dateTo.year}}-{{personalCreditor.dateTo.month}}-{{personalCreditor.dateTo.day}}</td>
                            </tr>
                            <tr>
                                <th>Month day:</th>
                                <td>{{personalCreditor.monthDay}}</td>
                            </tr>
                            <tr>
                                <th>Credit is commodity:</th>
                                <td>{{personalCreditor.isCommodity}}</td>
                            </tr>
                            <tr>
                                <th>Amount debt:</th>
                                <td>{{personalCreditor.debt.amountDebt}}</td>
                            </tr>
                            <tr>
                                <th>Month payment:</th>
                                <td>{{personalCreditor.monthPayment}}</td>
                            </tr>
                            <tr>
                                <th>Remains to pay:</th>
                                <td>{{personalCreditor.remainsToPay}}</td>
                            </tr>
                            <tr>
                                <th>Total credit payment:</th>
                                <td>{{personalCreditor.totalCreditPayment}}</td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-info"
                                style="position: absolute; top: 100%; left: 50%; margin: 10px -50% 0 0; transform: translate(-50%, -50%);"
                        onclick="InfoModalHide(); EditModalShow()">
                            Edit Credit</button>
                    </div>
                        <div class="col-lg-6 mb-4" style="position: relative;">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Credit History</h6></div>
                                <div class="card-body" style="height: 400px; overflow-y: auto;">
                                    <div class="center-element-hz center-element-vr" style="color: #4C71DE;" ng-hide="creditHistoryPersonal.length > 0">
                                        Credit payments not yet added
                                    </div>
                                    <table class="table table-responsive history-credit-table " ng-show="creditHistoryPersonal.length > 0">
                                        <thead>
                                        <th style="color: #4C71DE;">Payment amount</th>
                                        <th style="color: #4C71DE;">Payment date</th>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="creditHistory in creditHistoryPersonal">
                                            <td>{{creditHistory.amount}}</td>
                                            <td>{{creditHistory.date.year}}-{{creditHistory.date.month}}-{{creditHistory.date.day}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addCrPay">Payment amount:</label>
                                <input type="number" name="am" min="1" max="10000000" id="addCrPay" ng-model="amountToPay" step="0.01" class="item-input-wrapper form-control" placeholder="Enter amount" required="required"/>
                                <p ng-show="(addPay.am.$error.max || addPay.am.$error.min) &amp;&amp; !addPay.am.$pristine" class="help-block">Amount can be from 1 to 100000000</p>
                                <p ng-if="messageAmountPay &amp;&amp; !(addPay.am.$error.max &amp;&amp; addPay.am.$error.min)" class="help-block">{{ messageAmountPay }}</p>
                                <p class="text-success">{{ messageAmountPaySuccess }}</p>
                                <button type="submit" class="btn btn-primary" ng-disabled="addPay.$invalid"
                                        style="position: absolute; top: 100%; left: 50%; margin: 10px -50% 0 0; transform: translate(-50%, -50%);">
                                    Add payment</button>
                            </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="InfoModalHide()"
                            ng-click="closeInfo(); setCheckedIndexFalse();">
                        Close
                    </button>
                </div>
            </div>
    </div></div></div></div>
</form>

<script type="text/javascript">
    function EditModalShow() {
        $("#updateCreditModal").show();
    }
    function EditModalHide() {
        $("#updateCreditModal").hide();
    }
    function InfoModalShow() {
        $("#infoCreditModal").show();
    }
    function InfoModalHide() {
        $("#infoCreditModal").hide();
    }
</script>

<form novalidate="novalidate" name="editCreditForm" ng-controller="PersonalCreditController" ng-submit="updatePersonalCredit()" class="needs-validation">
    <div class="dm-overlay" id="updateCreditModal"><div class="dm-table"><div class="dm-cell"><div class="dm-modal">
            <div class="modal-content">
                <div class="modal-header" style="position: relative;">
                    <button type="button" class="close" aria-label="Close" onclick="EditModalHide(); InfoModalShow()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="position: absolute; top: 50%; left: 50%; margin: 0 -50% 0 0; transform: translate(-50%, -50%);">
                        Edit credit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : editCreditForm.nameCr.$invalid &amp;&amp; !editCreditForm.nameCr.$pristine}">
                        <label for="editCreditName">Credit name:</label>
                        <input type="text" name="nameCr" class="item-input-wrapper form-control" maxlength="60" placeholder="Enter name" ng-model="personalCreditor.name" id="editCreditName" required="required" ng-minlength="3"/>
                        <p ng-show="editCreditForm.nameCr.$error.minlength" class="help-block">Credit name is too short</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (editCreditForm.am.$error.max || editCreditForm.am.$error.min) &amp;&amp; !editCreditForm.am.$pristine}">
                        <label for="editCreditAmount">Credit amount:</label>
                        <input type="number" name="am" min="1" max="10000000" id="editCreditAmount" step="0.01" class="item-input-wrapper form-control" placeholder="Enter amount" ng-model="personalCreditor.amount" required="required"/>
                        <p ng-show="(editCreditForm.am.$error.max || editCreditForm.am.$error.min) &amp;&amp; !editCreditForm.am.$pristine" class="help-block">Amount can be from 1 to 10000000</p>
                    </div>

                    <div class="form-group">
                        <label for="datetimepickerEdit">Credit start date:</label>
                        <div class="input-group fetched-date date_field">
                            <input type="text" name="dt" class="form-control" placeholder="yyyy/mm/dd" id="datetimepickerEdit" ng-model="dateFrom"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                $('#datetimepickerEdit').datepicker({
                                    calendarWeeks: true,
                                    todayHighlight: true,
                                    autoclose: true,
                                    zIndexOffset: '2001',
                                    format: 'yyyy/mm/dd'
                                }).datepicker("setDate", new Date());;
                            });
                        </script>
                        <p ng-show="editCreditForm.dt.$invalid &amp;&amp; !editCreditForm.dt.$pristine" class="help-block">Required field</p>
                    </div>

                    <div class="form-group slidecontainer">
                        <label for="creditRateRange" id="creditRateTextEdit">Credit rate: {{personalCreditor.creditRate}} %</label>
                        <p><input type="range" min="0" max="60" step="0.1" class="slider" id="creditRateRangeEdit" ng-model="personalCreditor.creditRate"/></p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (editCreditForm.dur.$error.max || editCreditForm.dur.$error.min) &amp;&amp; !editCreditForm.dur.$pristine}">
                        <label for="creditDurationEdit">Credit duration in months:</label>
                        <input type="number" name="dur" min="1" max="600" id="creditDurationEdit" step="1" class="form-control" placeholder="Enter amount" ng-model="duration" required="required"/>
                        <p ng-show="(editCreditForm.dur.$error.max || editCreditForm.dur.$error.min) &amp;&amp; !editCreditForm.dur.$pristine" class="help-block">Duration can be from 1 to 600</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (editCreditForm.pd.$error.max || editCreditForm.pd.$error.min) &amp;&amp; !editCreditForm.pd.$pristine}">
                        <label for="paymentDayEdit">Credit payment day of month</label>
                        <input type="number" name="pd" min="1" id="paymentDayEdit" max="31" class="form-control" placeholder="Enter payment day of month" ng-model="personalCreditor.monthDay" required="required"/>
                        <p ng-show="(editCreditForm.pd.$error.max || editCreditForm.pd.$error.min) &amp;&amp; !editCreditForm.pd.$pristine" class="help-block">Payment day can be from 1 to 31</p>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" ng-model="personalCreditor.isCommodity" /> The credit is commodity (amount on debit account won't increase)
                    </div>
                    <pre ng-show="check != null">{{check}}</pre>

                </div>
                <div class="modal-footer">
                    <button style="float: left" ng-disabled="editCreditForm.$invalid" type="button" class="btn btn-info" ng-click="checkPersonalCredit()">Check credit possibility</button>
                    <button type="button" class="btn btn-secondary" onclick="EditModalHide(); InfoModalShow()">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="editCreditForm.$invalid">Save changes</button>
                </div>
            </div>
    </div></div></div></div>
</form>

<form novalidate="novalidate" name="addCreditForm" ng-controller="PersonalCreditController" ng-submit="addPersonalCredit()" class="needs-validation">
    <div  class="modal fade" id="createCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel"> Create credit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : (addCreditForm.nameCr.$invalid) &amp;&amp; !addCreditForm.nameCr.$pristine}">
                        <label for="creditName">Credit name:</label>
                        <input type="text" name="nameCr" class="item-input-wrapper form-control" maxlength="20" placeholder="Enter name" ng-model="credit.name" id="creditName" required="required" ng-minlength="3"/>
                        <p ng-show="addCreditForm.nameCr.$error.minlength" class="help-block">Credit name is too short</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (addCreditForm.am.$error.max || addCreditForm.am.$error.min || amountErrorMessage) &amp;&amp; !addCreditForm.am.$pristine }">
                        <label for="creditAmount">Credit amount:</label>
                        <input type="number" name="am" min="1" max="100000000" step="0.01" id="creditAmount" class="item-input-wrapper form-control" placeholder="Enter amount" ng-model="credit.amount" required="required"/>
                        <p ng-show="(addCreditForm.am.$error.max || addCreditForm.am.$error.min) &amp;&amp; !addCreditForm.am.$pristine" class="help-block">Amount can be from 1 to 100000000</p>
                        <p ng-if="amountErrorMessage &amp;&amp; !(addCreditForm.am.$error.max &amp;&amp; addCreditForm.am.$error.min)" class="help-block">{{ amountErrorMessage }}</p>
                    </div>

                    <div class="form-group">
                        <label for="datetimepickerPer">Credit start date:</label>
                        <div class="input-group fetched-date date_field">
                            <input type="text" name="dt" class="form-control" placeholder="yyyy/mm/dd" id="datetimepickerPer" ng-model="dateFrom"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <p ng-show="addCreditForm.dt.$invalid &amp;&amp; !addCreditForm.dt.$pristine" class="help-block">Required field</p>
                        <script type="text/javascript">
                                $(function() {
                                    $('#datetimepickerPer').datepicker({
                                        calendarWeeks: true,
                                        todayHighlight: true,
                                        autoclose: true,
                                        zIndexOffset: '2001',
                                        format: 'yyyy/mm/dd',
                                        startDate: '-1m',
                                        endDate: '+1w'
                                    }).datepicker("setDate", new Date());;
                                });
                        </script>
                    </div>

                    <div class="form-group slidecontainer">
                        <label for="creditRateRange" id="creditRateText">Credit rate:</label>
                        <p><input type="range" min="0" max="60" step="0.1" class="slider" id="creditRateRange" ng-model="credit.creditRate"/></p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (addCreditForm.dur.$error.max || addCreditForm.dur.$error.min) &amp;&amp; !addCreditForm.dur.$pristine}">
                        <label for="creditDuration">Credit duration in months:</label>
                        <input type="number" name="dur" min="1" max="600" id="creditDuration" step="1" class="form-control" placeholder="Enter amount" ng-model="duration" required="required"/>
                        <p ng-show="(addCreditForm.dur.$error.max || addCreditForm.dur.$error.min) &amp;&amp; !addCreditForm.dur.$pristine" class="help-block">Duration can be from 1 to 600</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (addCreditForm.pd.$error.max || addCreditForm.pd.$error.min) &amp;&amp; !addCreditForm.pd.$pristine}">
                        <label for="paymentDay">Credit payment day of month</label>
                        <input type="number" name="pd" min="1" id="paymentDay" max="31" class="form-control" placeholder="Enter payment day of month" ng-model="credit.monthDay" required="required"/>
                        <p ng-show="(addCreditForm.pd.$error.max || addCreditForm.pd.$error.min) &amp;&amp; !addCreditForm.pd.$pristine" class="help-block">Payment day can be from 1 to 31</p>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" ng-model="credit.isCommodity" /> The credit is commodity (amount on debit account won't increase)
                    </div>
                    <pre ng-show="check != null">{{check}}</pre>
                    <p ng-if="nameErrorMessage" class="help-block">{{ nameErrorMessage }}</p>

                </div>
                <div class="modal-footer">
                    <button style="float: left" ng-disabled="addCreditForm.$invalid" type="button" class="btn btn-info" ng-click="checkPersonalCredit()">Check credit possibility</button>
                    <button type="button" class="btn btn-secondary" ng-click="clear()" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="addCreditForm.$invalid" >Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form ng-controller="PersonalPredictController" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="prediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel1"> Prediction </h4>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select class="form-control" id="category" ng-model="predict.category">
                            <option selected="selected">Income</option>
                            <option>Expense</option>
                        </select>

                    </div>
                    <label for="category">Prediction in months</label>
                    <p><input type="number" min="1" class="form-control" placeholder="Enter duration" max ="120" ng-model="predict.duration"/></p>
                    <p th:text="${name}"></p>
                    <pre class="pre">Predict sum: {{status}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!predict.duration || !predict.category" ng-click="fetch()">Predict</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form ng-controller="RepCtrl">
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel2"> Report </h4>
                </div>

                <div class="modal-body">
                    <label for="category">Choose month to get report</label>
                    <input type="text" name="dm" class="form-control" placeholder="yyyy-mm" autocomplete="off" id="datetimepickerPerRep"/>
                    <script type="text/javascript">
                        $(function() {
                            $('#datetimepickerPerRep').datepicker({
                                format: "yyyy-mm",
                                startView: "year",
                                autoclose: true,
                                minViewMode: "months",
                                todayHighlight: true,
                                endDate: '0'
                            }).datepicker("setDate", new Date());
                        });
                    </script>

                    <table class="table table-borderless">
                        <tr>
                            <th>Dates:</th>
                            <td>{{duration}}</td>
                        </tr>
                        <tr>
                            <th>Balance:</th>
                            <td>{{balance}}</td>
                        </tr>
                        <tr>
                            <th>Total income:</th>
                            <td>{{totalIncome}}</td>
                        </tr>
                        <tr>
                            <th>Total expense:</th>
                            <td>{{totalExpense}}</td>
                        </tr>
                    </table>

                    <div class="card shadow mb-4" >
                        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">Incomes</h6>
                        </a>
                        <div class="collapse" id="collapseCardExample">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Sum</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="income in incomes">
                                            <td>{{income.categoryIncome}}</td>
                                            <td>{{income.amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
                        </a>
                        <div class="collapse" id="collapseCardExample2">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Sum</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="expense in expenses">
                                            <td>{{expense.categoryExpense}}</td>
                                            <td>{{expense.amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <p class="text-info">{{ text }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!sendCondition" ng-click="sendReport()">Send report</button>
                    <button type="submit" class="btn btn-primary" ng-click="getReport()">Get report</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Income/Auto_Income Operations -->
<div class="modal fade" id="incomeOp" tabindex="-1" role="dialog" aria-labelledby="incomeOpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="incomeOpLabel"> New income </h4>
            </div>
            <div class="modal-body" ng-controller="AddIncomeControllerPersonal">
                <form name="addIncomeForm"  novalidate="novalidate">
                    <div class="form-group" ng-class="{ 'has-error' : (addIncomeForm.incomeAmount.$error.max || addIncomeForm.incomeAmount.$error.min || amountIncErrorMessage) &amp;&amp; !addIncomeForm.incomeAmount.$pristine}">
                        <label for="income">Amount:</label>
                        <input type="number" ng-model="form.amount" class="form-control" step=".01" id="income" placeholder="Enter amount" name="incomeAmount" min = "1" max ="100000000" required="required"/>
                        <p ng-show="(addIncomeForm.incomeAmount.$error.max || addIncomeForm.incomeAmount.$error.min) &amp;&amp; !addIncomeForm.incomeAmount.$pristine" class="help-block">Amount can be from 1 to 100000000</p>
                        <p ng-if="amountIncErrorMessage &amp;&amp; !(addCreditForm.incomeAmount.$error.max &amp;&amp; addCreditForm.incomeAmount.$error.min)" class="help-block">{{ amountIncErrorMessage }}</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : categoryCheck}">
                        <label for="categoryInc">Income category:</label>
                        <select class="form-control"   ng-model="form.categoryIncome" id="categoryInc" required="required">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>SALARY</option>
                            <option>AWARD</option>
                            <option>PRESENTS</option>
                            <option>GIFTS</option>
                            <option>OTHER</option>
                        </select>
                        <p ng-if="categoryCheck" class="help-block">{{ categoryCheck }}</p>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="form.checkbox" name="ch"/> Make operation repetitive each month
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (addIncomeForm.pd.$error.max || addIncomeForm.pd.$error.min) &amp;&amp; !addIncomeForm.pd.$pristine &amp;&amp; form.checkbox}">
                        <label for="income">Day of month:</label>
                        <input type="number" ng-disabled="!form.checkbox" ng-model="form.dayOfMonth" min="1" max="31" class="form-control" name="pd"/>
                        <p ng-show="(addIncomeForm.pd.$error.max || addIncomeForm.pd.$error.min) &amp;&amp; !addIncomeForm.pd.$pristine &amp;&amp; addIncomeForm.ch" class="help-block">Payment day can be from 1 to 31</p>
                    </div>
                    <p class="help-block">{{ IncErrorMessage }}</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" ng-click="clear()" data-dismiss="modal" >Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary" ng-disabled = "!form.amount"  ng-click="submitOperation()" >Add </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Expense/Auto_Expense Operations -->
<div class="modal fade" id="expenseOp" tabindex="-1" role="dialog" aria-labelledby="expenseOpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="expenseOpLabel"> New expense </h4>
            </div>
            <div class="modal-body" ng-controller="AddExpenseControllerPersonal">
                <form name="addExpenseForm"  novalidate="novalidate">
                    <div class="form-group" ng-class="{ 'has-error' : (addExpenseForm.expenseAmount.$error.max || addExpenseForm.expenseAmount.$error.min || amountExpErrorMessage) &amp;&amp; !addExpenseForm.expenseAmount.$pristine}">
                        <label for="amountExp">Amount:</label>
                        <input type="number" ng-model="form.amount" min = "1" max ="100000000" class="form-control" step=".01" id="amountExp" placeholder="Enter amount" name="expenseAmount"  required="required"/>
                        <p ng-show="(addExpenseForm.expenseAmount.$error.max || addExpenseForm.expenseAmount.$error.min) &amp;&amp; !addExpenseForm.expenseAmount.$pristine" class="help-block">Amount can be from 1 to 100000000</p>
                        <p ng-if="amountExpErrorMessage &amp;&amp; !(addCreditForm.expenseAmount.$error.max &amp;&amp; addCreditForm.expenseAmount.$error.min)" class="help-block">{{ amountExpErrorMessage }}</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : categoryCheckExp}">
                        <label for="categoryExp">Expense category:</label>
                        <select class="form-control" ng-model="form.categoryExpense" id="categoryExp" required="required">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>FOOD</option>
                            <option>RESIDENTIAL</option>
                            <option>ENTERTAINMENT</option>
                            <option>TAXES</option>
                            <option>EDUCATION</option>
                            <option>MEDICINE</option>
                            <option>TRANSPORT</option>
                            <option>GIFTS</option>
                            <option>CHILDREN</option>
                            <option>SPORT</option>
                            <option>CLOTHES</option>
                            <option>OTHER</option>
                        </select>
                        <p ng-if="categoryCheck" class="help-block">{{ categoryCheckExp }}</p>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="form.checkbox" name="chEx"/> Make operation repetitive each month
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (addExpenseForm.pd.$error.max || addExpenseForm.pd.$error.min) &amp;&amp; !addExpenseForm.pd.$pristine &amp;&amp; form.checkbox}">
                        <label for="income">Day of month:</label>
                        <input type="number" ng-disabled="!form.checkbox" ng-model="form.dayOfMonth" min="1" max="31" class="form-control" placeholder="Enter day of month" name="pd"/>
                        <p ng-show="(addExpenseForm.pd.$error.max || addExpenseForm.pd.$error.min) &amp;&amp; !addExpenseForm.pd.$pristine &amp;&amp; addExpenseForm.chEx" class="help-block">Payment day can be from 1 to 31</p>
                    </div>
                    <p class="help-block">{{ ExpErrorMessage }}</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" ng-click="clear()" data-dismiss="modal" >Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary" ng-disabled = "!form.amount" ng-click="submitOperation()" >Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
