<nav>
    <div class="topnavPersonal" id="TopnavPersonal">
        <a href="#/personalCredit">Create Credit</a> <!--#1 class = main_about-->
        <!--<a href="#createCreditModal" data-toggle="modal">Create Credit</a>-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#incomeOp">
            Add income
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expenseOp">
            Add expense
        </button>
        <a href="#/personalReport">Report</a> <!--#2 class = Comment_form-->
        <a href="#prediction" data-toggle="modal">Prognosis</a> <!--#2 class = Comment_form-->
    </div>
</nav>
<h1><span ng-show="user.debitId.length > 0">ID from RootScope: {{user.debitId}}</span></h1>
<h3 style="margin-left:100px;">History</h3>
<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="personalHistory.length == 0">
    No history found
</div>
<table class="table table-bordered table-striped"  ng-show="personalHistory.length > 0">
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Income</th>
        <th>Expense</th>
        <th>Date</th>
    </tr>
    <tr ng-repeat="hisInf in personalHistory">
        <td>{{hisInf.id}}</td>
        <td>{{hisInf.amount}}</td>
        <td>{{hisInf.categoryIncome}}</td>
        <td>{{hisInf.categoryExpense}}</td>
        <td>{{hisInf.date.year}}-{{hisInf.date.month}}-{{hisInf.date.day}}</td>
    </tr>
</table>

<form>
<div class="modal fade" id="createCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="passwordModalLabel"> Creating credit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><input type="text" class="form-control" placeholder="Enter credit name" ng-model="credit.name" id="creditName"/></p>
                <p><input type="date" class="form-control" placeholder="Enter credit creation date" ng-model="credit.dateFrom"/></p>
                <p><input type="number" min="1" class="form-control" placeholder="Enter credit amount" ng-model="credit.amount"/></p>
                <p><input type="number" min="1" class="form-control" placeholder="Enter credit paid amount" ng-model="credit.paidAmount"/></p>
                <div class="slidecontainer">
                    <p id="creditRateText">Credit rate: </p>
                    <p><input type="range" min="0" max="100" step="0.1" class="slider" id="creditRateRange" ng-model="credit.rate"/></p>
                </div>
                <p><input type="date" class="form-control" placeholder="Enter credit ends date" ng-model="credit.dateTo"/></p>
                <p><input type="number" min="1" max="28" class="form-control" placeholder="Enter payment day of month" ng-model="credit.dayOfMonth"/></p>
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="!credit.name" ng-click="addCredit(credit)">Save changes</button>
            </div>
        </div>
    </div>
</div>
</form>


<form>
    <div class="modal fade" id="prediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel1"> Creating credit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category">Income category:</label>
                        <select class="form-control" id="category">
                            <option>Income</option>
                            <option>Expense</option>
                        </select>
                    </div>
                    <p><input type="number" min="1" class="form-control" placeholder="Enter duration" ng-model="amount"/></p>
                    <output name="x"></output>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!amount">Predict</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="incomeOp" tabindex="-1" role="dialog" aria-labelledby="incomeOpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="incomeOpLabel"> New income </h4>
            </div>
            <div class="modal-body" ng-controller="AddIncomeController">
                <form ng-submit="submitOperation()">
                    <div class="form-group">
                        <label for="income">Amount:</label>
                        <input type="number" ng-model="form.amount" class="form-control" step=".01" id="income" placeholder="Enter amount" name="incomeAmount"/>
                    </div>
                    <div class="form-group">
                        <label for="categoryInc">Income category:</label>
                        <select class="form-control" ng-model="form.categoryIncome" id="categoryInc">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>SALARY</option>
                            <option>AWARD</option>
                            <option>PRESENTS</option>
                            <option>GIFTS</option>
                            <option>OTHER</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary" onclick="$('.modal').modal('hide')">Add</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="expenseOp" tabindex="-1" role="dialog" aria-labelledby="expenseOpLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="expenseOpLabel"> New expense </h4>
            </div>
            <div class="modal-body" ng-controller="AddExpenseController">
                <form ng-submit="submitOperation()">
                    <div class="form-group">
                        <label for="expense">Amount:</label>
                        <input type="number" ng-model="form.amount" class="form-control" step=".01" id="expense" placeholder="Enter amount" name="expenseAmount"/>
                    </div>
                    <div class="form-group">
                        <label for="categoryExp">Expense category:</label>
                        <select class="form-control" ng-model="form.categoryExpense" id="categoryExp">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>FOOD</option>
                            <option>RESIDENTIAL</option>
                            <option>ENTERTAINMENT</option>
                            <option>TAXES</option>
                            <option>EDUCATION</option>
                            <option>MEDICINE</option>
                            <option>TRANSPORT</option>
                            <option>GIFTS</option>
                            <option>CHILDREN</option>
                            <option>SPORT</option>
                            <option>CLOTHES</option>
                            <option>CREDIT</option>
                            <option>OTHER</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary" onclick="$('.modal').modal('hide')">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

