#mainPage {
    background-size: cover;
    /*background: url('../images/home-bg.jpg') repeat-y fixed center center;*/
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

::-webkit-scrollbar {
    width: .65em;
}

::-webkit-scrollbar:horizontal {
    height: .65em;
}

::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 0.75);
}

::-webkit-scrollbar-thumb {
    background: #77A1B5;
    border-radius: 5px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:hover {
    background: #657D88;
}

::-webkit-scrollbar-thumb:active {
    background: #596A72;
}

.formInfoCredit {
    width: 800px;
    background:
            linear-gradient(
                    #286090,
                    #286090);
    background-size: cover;
    border-bottom: solid 1px rgba(255,255,255,.5);
    border-radius: 15px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all .5s ease;
    margin: 20px auto;
    padding: 25px;
    color: #8C90A6;
}

.headerInfoCredit {
    height: 50px;
    background: #34456c;
    color: #9fc8ff;
    text-align: center;
    width: 100%;
    top: 0;
    position: relative;
}

.headerInfoCredit p {
    padding-top: 12px;
}

.footerInfoCredit {
    height: 20px;
    background: #1c416c;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.inputInfoCredit {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
    color: #ffffff;
    font-size: 13px;
    outline: none;
}

.inputInfoCredit::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.labelInfoCredit {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255,255,255,.7);
    display: block;
}

.spanInfoCredit {
    font-weight: 400;
    font-size: 13px;
    padding: 10px 15px;
    color: black;
    display: block;
    background: #fff;
    margin: 5px;
}


.infoCreditButtons {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.infoCreditButtons:before,
.infoCreditButtons:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.infoCreditButtons:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, width .4s .2s ease , .2s ease height .6s;
}
.infoCreditButtons:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, width .2s ease  , height .2s ease .2s ;
}
.infoCreditButtons:hover:before,
.infoCreditButtons:hover:after{
    height: 100%;
    width: 100%;
    opacity: 1;
}

.infoCreditButtons:hover:before {
    transition: 0s ease opacity 0s, height .2s ease , .2s ease width .2s;
}
.infoCreditButtons:hover:after {
    transition: 0s ease opacity .4s, height .4s .2s ease , .2s ease width .6s;
}
.infoCreditButtons:hover {
    background: rgba(255,255,255,.2);
}

.notSee {
    display: none;
}

.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}

.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}

.dm-modal {
    display: inline-block;
    padding: 20px;
    max-width: 100%;
    background: white;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: black;
    text-align: left;
    border-radius: 10px;
}

.dm-modal img {
    width: 100%;
    height: auto;
}

.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}

.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.pl-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.green {
    background: #388e3c!important;
}
.cyan {
    background: #0097a7!important;
}
.teal {
    background: #00796b!important;
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.table-head {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.tables-div {
    height: 50%;
    overflow: auto;
    padding: 10px;
}

.table-cursor tbody{
    cursor: pointer;
}
.table-cursor td, th {
    max-width: 150px;
}

.default-table td, th {
    max-width: 100px;
}

.pre {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #d8d8d8;
}

.center-element-hz {
    position: absolute;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

.center-element-vr {
    top: 50%;
}