/* app css stylesheet */

#wrapper {
    margin: 0 auto;
    width: 100%;
}

header{
    width: 100%;
    background: #dcdcdc;
    display: flex;
}
.topnav{
    color:#000;
    text-align: left;
    padding: 40px 2px 0;
    font-size: 24px;
}
.topnav a:hover{
    border-top: 3px solid #fcac45;
}
.topnav a{
    margin: 20px;
}
.topnavPersonal{
    color:#000;
    text-align: left;
    padding: 20px 2px 0;
    font-size: 24px;
}
.topnavPersonal a:hover{
    border-top: 3px solid #fcac45;
}
.topnavPersonal a{
    margin: 20px;
}