/* app css stylesheet */

#wrapperL {
    margin: 0 auto;
    width: 100%;
}
/*navigation in header*/
header{
    width: 100%;
    background: #dcdcdc;
    display: flex;
}

.topnav{
    color:#000;
    text-align: left;
    padding: 40px 2px 0;
    font-size: 24px;
}
.topnav a:hover{
    border-top: 3px solid #fcac45;
}
.topnav a{
    margin: 20px;
}
.topnavPersonal{
    color:#000;
    text-align: left;
    padding: 20px 2px 0;
    font-size: 24px;
}
.topnavPersonal a:hover{
    border-top: 3px solid #fcac45;
}
.topnavPersonal a{
    margin: 20px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.center-img {
    display: block;
    margin: 0 auto;
}
.background-colors{
    background-color: #e0e0e0;
}
/*style for menu button*/
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: right;
    font-size: 15px;
    position: relative;
}
ul.menu > li > a {
    margin-top: -40px;
    display: block;
    padding: 0 30px;
    color: #3a4e7a;
    font-size: 30px;
    text-decoration: none;
}
ul.menu > li > a:hover {
    border-top: 2px solid #fcac45;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 250px;
    right: 0;
    background-color: #5e83ba;
    border: #5e83ba;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #72a5d3;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}

.datetimepicker {
    z-index:1001 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*.datepicker.datepicker-dropdown.dropdown-menu { z-index: 9999999; }*/
/*.modal {*/
/*     overflow: auto !important;*/
/* }*/

.help-block {
    color: #e74a3b;
}

pre.content {
    height: auto;
    max-height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}​

