/* app css stylesheet */

#wrapper {
    margin: 0 auto;
    width: 650px;
    margin-top: 50px;
}

header{
    width: 100%;
    background: #dcdcdc;
    display: flex;
}
.topnav{
    color:#000;
    text-align: left;
    padding: 40px 2px 0px;
    font-size: 24px;
}
.topnav a:hover{
    border-top: 2px solid #fcac45;
}
.topnav a{
    margin: 20px;
}