<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Service App</title>
    <link rel="stylesheet" href="resources/css/specialFinance.css"/>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="background-colors">

<div class="container">
    <form id="form" class="form-signin form-group"
          action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <img class="img-circle center-block center-img" src="resources/images/ewallet.png"
             alt="" width="82" height="82"/>
        <h2 class="form-signin-heading">Create your account</h2>
        <div class="form-group">
            <input   type="text" class="form-control " pattern="[A-Za-z]{2,}"   title="Please enter only English characters"
                     maxlength="25" th:field="*{name}" placeholder="Username" autofocus="true"/>
            <p></p>
            <input type="text" class="form-control" th:field="*{eMail}" placeholder="E-mail"/>
            <p></p>
            <input type="password" class="form-control"  th:field="*{password}" placeholder="Password"/>
            <p></p>
            <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Confirm password"/>
            <p></p>
            <span align="center" style="color:#b42624;"  th:text="${message}"></span>
            <button type="submit" class="btn btn-lg btn-primary btn-block" >Submit</button>
            <p></p>
            <h4 class="text-center"><a href="login">Back to login page</a></h4>
        </div>
        <p style="font-size: 8pt;">Your username must contain:<br/>
            - only Latin letters without other characters except spacebar<br/>
            - at least 2 characters</p>
        <p style="font-size: 8pt;">Your password must contain:<br/>
            - only Latin characters<br/>
            - at least one uppercase character<br/>
            - at least one lowercase character<br/>
            - at least 8 characters long<br/>
            - at least one number</p>
        <p align="center" class="mt-5 mb-3 text-muted">&copy; NetCracker 2019-2020</p>
    </form>
</div>
<div style="display: inline-block; right: 0;">

</div>
</body>
</html>

