<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Finance</title>
    <link rel="stylesheet" href="resources/css/specialFinance.css"/>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="background-colors">
<div class="container">
    <form class="form-signin" th:action="@{/savePass}" th:object="${user}" method="post">
        <img class="center-block center-img"  src="resources/images/logo_blue_small.png"/>
        <h1 align="center">Enter new password</h1>
        <div class="form-group">
            <input type="password" class="form-control" th:field="*{password}" placeholder="Password"/>
            <p></p>
            <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Confirm password"/>
            <p></p>
            <span style="color:#b42624;" th:text="${message}"> </span>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Confirm"/>
            <h4 class="text-center"><a href="login">Back to login page</a></h4>
        </div>

        <p align="center" class="mt-5 mb-3 text-muted">&copy; NetCracker 2019-2020</p>

    </form>
</div>

</body>
</html>