<html lang="en" ng-app="AngularSpringApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>


<nav>
    <div class="topnavPersonal" id="TopnavPersonal">
        <a href="#createCreditModal" data-toggle="modal">Create Credit</a>
        <a href="#incomeOp" data-toggle="modal">Add income</a>
        <a href="#expenseOp" data-toggle="modal">Add expense</a>
        <a href="#report" data-toggle="modal">Report</a> <!--#2 class = Comment_form-->
        <a href="#prediction" data-toggle="modal">Prognosis</a> <!--#2 class = Comment_form-->
        <span  data-toggle="modal" style="color: #337ab7" th:text="${creditFamilyName}"></span>
    </div>
</nav>

<div id="mainPage" class="parallax-section" >
<!--    <header class="headerInfoCredit"><span th:text="${creditFamilyName}"></span></header>-->
    <form class="formInfoCredit">
        <p><span class="spanInfoCredit" th:text="${creditFamilyAmount}"></span></p>
        <p><span class="spanInfoCredit" th:text="${creditFamilyRate}"></span></p>
        <p><span class="spanInfoCredit" th:text="${creditFamilyPaidAmount}"></span></p>
        <p><span class="spanInfoCredit" th:text="${creditFamilyDateFrom}"></span></p>
        <p><span class="spanInfoCredit" th:text="${creditFamilyDateTo}"></span></p>
        <p><span class="spanInfoCredit" th:text="${creditFamilyMonthDay}"></span></p>
        <p><span class="spanInfoCredit notSee" id="debtDateFrom" th:text="${creditFamilyDebtDateFrom}"></span></p>
        <p><span class="spanInfoCredit notSee" id="debtDateTo" th:text="${creditFamilyDebtDateTo}"></span></p>
        <p><span class="spanInfoCredit" th:text="${creditFamilyDebtAmount}"></span></p>
        <center><p><button type="button" class="infoCreditButtons" data-toggle="modal" data-target="#addFamilyCreditPayment">Add Credit Payment</button></p></center>
    </form>
</div>
<form th:action="@{familyCredit/addFamilyCreditPayment}" method="post">
    <div class="modal fade" id="addFamilyCreditPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title"> Add Credit Payment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i><h6><p align="center" style="color:#565656">Please fill in all fields</p></h6></i>
                </div>
                <div class="modal-body">
                    <span th:text="${creditFamilyPayment}"></span>
                    <p><input type="number" step="0.01" min="0.01" class="form-control" placeholder="Enter payment amount" id="creditName" name="amount"/></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="$('.modal').modal('hide')">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<footer  class="footer-copyright text-center py-3">&copy; NetCracker 2019-2020</footer>
</body>
</html>