<nav ng-show="user.familyDebitId.length > 0">
    <div class="topnavPersonal" id="TopnavPersonal">
        <a href="#createFamilyCreditModal" data-toggle="modal">Create Credit</a>
        <a href="#incomeOp" data-toggle="modal">Add income</a>
        <a href="#expenseOp" data-toggle="modal">Add expense</a>
        <a href="#report" data-toggle="modal">Report</a> <!--#2 class = Comment_form-->
        <a href="#prediction" data-toggle="modal">Prediction</a> <!--#2 class = Comment_form-->
        <a href="#/userControl">Participants Control</a> <!--#2 class = Comment_form-->
    </div>
</nav>
<h1><span ng-show="family.debitId.length > 0">FamilyDebitID from RootScope: {{family.debitId}}</span></h1>
<div ng-controller="FamilyDebitController" ng-show="user.familyDebitId.length > 0" >

    <h1>Current amount: {{accountInfo.amount}}</h1>
<!--    <h1>Id of family account: {{accountInfo.id}}</h1>-->
</div>
<!-- creating Family Account -->
<div class="input-append" ng-show="user.familyDebitId.length == 0">
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="nameFamilyAccount"
           placeholder="Enter family account name" required="required" min="1"/>
    <button class="btn btn-primary" ng-click="createFamilyAccount()">Add Family Account</button>
</div>

    <div class="row">
<div class="col-xl-8 col-lg-6" ng-show="user.familyDebitId.length > 0">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">History</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" ng-controller="FamilyDebitController">
            <select class="form-control" id = "familyHistoryPeriod" ng-click="fetchFamilyPeriodHistory()">
                <option selected="selected" value="1">Last operations</option>
                <option value="1">Month</option>
                <option value="6">Half year</option>
                <option value="12">Year</option>
            </select>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">History</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Income</th>
                                    <th>Expense</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="hisInf in familyHistory">
                                    <td>{{hisInf.amount}}</td>
                                    <td>{{hisInf.categoryIncome}}</td>
                                    <td>{{hisInf.categoryExpense}}</td>
                                    <td>{{hisInf.date.year}}-{{hisInf.date.month}}-{{hisInf.date.day}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="col-lg-6" ng-show="user.familyDebitId.length > 0">
    <form class="creditsForm" ng-controller="FamilyCreditController">
        <fieldset>
            <legend>Credits</legend>
            <center>
                <button class="creditButtons" id="infoCredit" disabled="disabled" data-toggle="modal" data-target="#infoCreditModal" ng-click="fetchFamilyCredit()">Info</button>
                <button class="creditButtons" id="editCredit" disabled="disabled" data-toggle="modal" data-target="#updateCreditModal">Edit</button>
            </center>
            <div class="creditsDiv">
                <select id="creditsSelect" ng-click="checkSelect()" multiple="multiple" size="3">
                    <option ng-repeat="credInf in familyCredit" value="{{credInf.creditId}}">{{credInf.name}}</option>
                </select>
            </div>
        </fieldset>
    </form>
</div>
</div>

<form ng-controller="FamilyCreditController">
    <div class="modal fade" id="infoCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title"> Info credit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Name: <pre>{{personalCreditor.name}}</pre>
                    Amount: <pre>{{personalCreditor.amount}}</pre>
                    Paid Amount: <pre>{{personalCreditor.paidAmount}}</pre>
                    Rate: <pre>{{personalCreditor.creditRate}}</pre>
                    Start Date: <pre>{{personalCreditor.date.year}}-{{personalCreditor.date.month}}-{{personalCreditor.date.day}}</pre>
                    Ends Date: <pre>{{personalCreditor.dateTo.year}}-{{personalCreditor.dateTo.month}}-{{personalCreditor.dateTo.day}}</pre>
                    Month Day: <pre>{{personalCreditor.monthDay}}</pre>
                    Credit is commodity: <pre>{{personalCreditor.isCommodity}}</pre>
                    Amount Debt: <pre>{{personalCreditor.debt.amountDebt}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>




<form novalidate="novalidate" name="editCreditForm" ng-controller="FamilyCreditController" ng-submit="updateFamilyCredit()" class="needs-validation">
    <div  class="modal fade" id="updateCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title"> Edit credit</h4>
                    <h3 align="center">{{pidoras}}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : editCreditForm.nameCr.$invalid &amp;&amp; !editCreditForm.nameCr.$pristine}">
                        <label for="editCreditName">Credit name:</label>
                        <input type="text" name="nameCr" class="item-input-wrapper form-control" maxlength="60" placeholder="Enter name" ng-model="personalCreditor.name" id="editCreditName" required="required" ng-minlength="3"/>
                        <p ng-show="editCreditForm.nameCr.$error.minlength" class="help-block">Credit name is too short</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (editCreditForm.am.$error.max || editCreditForm.am.$error.min) &amp;&amp; !editCreditForm.am.$pristine}">
                        <label for="editCreditAmount">Credit amount:</label>
                        <input type="number" name="am" min="1" max="10000000" id="editCreditAmount" step="0.01" class="item-input-wrapper form-control" placeholder="Enter amount" ng-model="personalCreditor.amount" required="required"/>
                        <p ng-show="(editCreditForm.am.$error.max || editCreditForm.am.$error.min) &amp;&amp; !editCreditForm.am.$pristine" class="help-block">Amount can be from 1 to 10000000</p>
                    </div>

                    <div class="form-group">
                        <label for="datetimepickerEdit">Credit start date:</label>
                        <div class="input-group fetched-date date_field">
                            <input type="text" name="dt" class="form-control" placeholder="yyyy/mm/dd" id="datetimepickerEdit" ng-model="dateFrom"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                $('#datetimepickerEdit').datepicker({
                                    calendarWeeks: true,
                                    todayHighlight: true,
                                    autoclose: true,
                                    zIndexOffset: '2001',
                                    format: 'yyyy/mm/dd'
                                }).datepicker("setDate", new Date());;
                            });
                        </script>
                        <p ng-show="editCreditForm.dt.$invalid &amp;&amp; !editCreditForm.dt.$pristine" class="help-block">Required field</p>
                    </div>

                    <div class="form-group slidecontainer">
                        <label for="creditRateRange" id="creditRateTextEdit">Credit rate:</label>
                        <p><input type="range" min="0" max="60" step="0.1" class="slider" id="creditRateRangeEdit" ng-model="personalCreditor.creditRate"/></p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (editCreditForm.dur.$error.max || editCreditForm.dur.$error.min) &amp;&amp; !editCreditForm.dur.$pristine}">
                        <label for="creditDurationEdit">Credit duration in months:</label>
                        <input type="number" name="dur" min="1" max="600" id="creditDurationEdit" step="1" class="form-control" placeholder="Enter amount" ng-model="duration" required="required"/>
                        <p ng-show="(editCreditForm.dur.$error.max || editCreditForm.dur.$error.min) &amp;&amp; !editCreditForm.dur.$pristine" class="help-block">Duration can be from 1 to 600</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (editCreditForm.pd.$error.max || editCreditForm.pd.$error.min) &amp;&amp; !editCreditForm.pd.$pristine}">
                        <label for="paymentDayEdit">Credit payment day of month</label>
                        <input type="number" name="pd" min="1" id="paymentDayEdit" max="28" class="form-control" placeholder="Enter payment day of month" ng-model="personalCreditor.monthDay" required="required"/>
                        <p ng-show="(editCreditForm.pd.$error.max || editCreditForm.pd.$error.min) &amp;&amp; !editCreditForm.pd.$pristine" class="help-block">Payment day can be from 1 to 28</p>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" ng-model="personalCreditor.isCommodity" /> The credit is commodity (amount on debit account won't increase)
                    </div>
                    <pre ng-show="check != null">{{check}}</pre>

                </div>
                <div class="modal-footer">
                    <button style="float: left" ng-disabled="editCreditForm.$invalid" type="button" class="btn btn-info" ng-click="checkPersonalCredit()">Check credit possibility</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="editCreditForm.$invalid" onclick="$('.modal').modal('hide')">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="col-xl-8 col-lg-7" ng-show="user.familyDebitId.length > 0">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Credits</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" ng-controller="FamilyCreditController">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Credits</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>name</th>
                                    <th>amount</th>
                                    <th>paidAmount</th>
                                    <th>dateFrom</th>
                                    <th>creditRate</th>
                                    <th>dateTo</th>
                                    <th>monthDay</th>
                                    <th>isPaid</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="credInf in familyCredit">
                                    <td>{{credInf.name}}</td>
                                    <td>{{credInf.amount}}</td>
                                    <td>{{credInf.paidAmount}}</td>
                                    <td>{{credInf.date.year}}-{{credInf.date.month}}-{{credInf.date.day}}</td>
                                    <td>{{credInf.creditRate}}</td>
                                    <td>{{credInf.dateTo.year}}-{{credInf.dateTo.month}}-{{credInf.dateTo.day}}</td>
                                    <td>{{credInf.monthDay}}</td>
                                    <td>{{credInf.isPaid}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="col-xl-8 col-lg-7" ng-show="user.familyDebitId.length > 0">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Auto operations</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" ng-controller="FamilyDebitController">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Auto operations</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>categoryExpense</th>
                                    <th>categoryIncome</th>
                                    <th>dayOfMonth</th>
                                    <th>amount</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="autoOperInf in familyAutoOperationHistory">
                                    <td>{{autoOperInf.categoryExpense}}</td>
                                    <td>{{autoOperInf.categoryIncome}}</td>
                                    <td>{{autoOperInf.dayOfMonth}}</td>
                                    <td>{{autoOperInf.amount}}</td>
                                    <td>{{autoOperInf.date.year}}-{{autoOperInf.date.month}}-{{autoOperInf.date.day}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<form ng-controller="FamilyCreditController" ng-submit="addFamilyCredit()">
    <div class="modal fade" id="createFamilyCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel"> Create credit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><input type="text" class="form-control" placeholder="*Enter credit name" ng-model="credit.name" id="creditName"/></p>
                    <p>*Enter credit start date:</p>
                    <p><input type="date" class="form-control" id="dateFrom" ng-model="credit.date"/></p>
                    <p><input type="number" min="1" step="0.01" class="form-control" placeholder="*Enter credit amount" ng-model="credit.amount"/></p>
                    <p><input type="number" min="0" step="0.01" class="form-control" placeholder="*Enter credit paid amount" ng-model="credit.paidAmount"/></p>
                    <div class="slidecontainer">
                        <p id="creditRateText">*Credit rate: </p>
                        <p><input type="range" min="0" max="100" step="0.1" class="slider" id="creditRateRange" ng-model="credit.creditRate"/></p>
                    </div>
                    <p>*Enter credit ends date:</p>
                    <p><input type="date" class="form-control" id="dateTo" ng-model="credit.dateTo"/></p>
                    <p style="color:#565656"><h6>The end date must be bigger than the start date </h6></p>
                    <p><input type="number" min="1" max="28" class="form-control" placeholder="*Enter payment day of month" ng-model="credit.monthDay"/></p>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="isNotEmptyCredit(credit)" onclick="$('.modal').modal('hide')">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form ng-controller="FamilyPredictController" ng-submit="getPredict()" ng-show="user.familyDebitId.length > 0">
    <div class="modal fade" id="prediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel1"> Prediction </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category">Income category:</label>
                        <select class="form-control" id="category" ng-model="predict.category">
                            <option>Income</option>
                            <option>Expense</option>
                        </select>
                    </div>
                    <p><input type="number" min="1" class="form-control" placeholder="Enter duration" max ="120"
                              ng-model="predict.duration"/></p>
                    <pre>Predict sum: {{status}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!predict.duration || !predict.category" ng-click="fetch()">Predict
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form ng-controller="RepFamilyCtrl" ng-submit="getReport()">
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel2"> Report </h4>
                </div>

                <div class="modal-body">
                    <label for="category">Choose month to get report</label>
                    <p><input type="month" class="form-control" id="month" ng-model="month"/></p>
                    <!--                    <input type="file" on-read-file="showContent($fileContent)" />-->
                    <pre class="content">{{content}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!sendCondition" data-dismiss="modal" ng-click="sendReport()">Send Report</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!month" ng-click="getReport()">Get report</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Income/Auto_Income Operations -->
<div class="modal fade" id="incomeOp" tabindex="-1" role="dialog" aria-labelledby="incomeOpLabel" aria-hidden="true"
     ng-show="user.familyDebitId.length > 0">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="incomeOpLabel"> New income </h4>
            </div>
            <div class="modal-body" ng-controller="AddIncomeControllerFamily">
                <form name="addIncomeFormFamily"  novalidate="novalidate">
                    <div class="form-group" ng-class="{ 'has-error' : (addIncomeFormFamily.incomeAmount.$error.max || addIncomeFormFamily.incomeAmount.$error.min || amountIncErrorMessage) &amp;&amp; !addIncomeFormFamily.incomeAmount.$pristine}">
                        <label for="income">Amount:</label>
                        <input type="number" ng-model="form.amount" class="form-control" step=".01" id="income"
                               placeholder="Enter amount" name="incomeAmount" min = "1" max ="100000000" required="required"/>
                        <p ng-show="(addIncomeFormFamily.incomeAmount.$error.max || addIncomeFormFamily.incomeAmount.$error.min) &amp;&amp; !addIncomeFormFamily.incomeAmount.$pristine" class="help-block">Amount can be from 1 to 100000000</p>
                        <p ng-if="amountIncErrorMessage &amp;&amp; !(addCreditForm.incomeAmount.$error.max &amp;&amp; addCreditForm.incomeAmount.$error.min)" class="help-block">{{ amountIncErrorMessage }}</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : categoryCheck}">
                        <label for="categoryInc">Income category:</label>
                        <select class="form-control" ng-model="form.categoryIncome" id="categoryInc">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>SALARY</option>
                            <option>AWARD</option>
                            <option>PRESENTS</option>
                            <option>GIFTS</option>
                            <option>OTHER</option>
                        </select>
                        <p ng-if="categoryCheck" class="help-block">{{ categoryCheck }}</p>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="form.checkbox"/> Make operation repetitive each month
                    </div>
                    <div class="form-group">
                        <label for="income">Day of month:</label>
                        <input type="number" ng-disabled="!form.checkbox" ng-model="form.dayOfMonth"
                               class="form-control" placeholder="Enter day of month" name="expenseAccount"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary"
                                ng-disabled="!form.amount || !form.categoryIncome" ng-click="submitOperation()">Add
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Expense/Auto_Expense Operations -->
<div class="modal fade" id="expenseOp" tabindex="-1" role="dialog" aria-labelledby="expenseOpLabel" aria-hidden="true"
     ng-show="user.familyDebitId.length > 0">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="expenseOpLabel"> New expense </h4>
            </div>
            <div class="modal-body" ng-controller="AddExpenseControllerFamily">
                <form name="addExpenseFormFamily"  novalidate="novalidate">
                    <div class="form-group" ng-class="{ 'has-error' : (addExpenseFormFamily.expenseAmount.$error.max || addExpenseFormFamily.expenseAmount.$error.min || amountExpErrorMessage) &amp;&amp; !addExpenseFormFamily.expenseAmount.$pristine}">
                        <label for="expense">Amount:</label>
                        <input type="number" ng-model="form.amountExp" class="form-control" step=".01" id="expense"
                               placeholder="Enter amount" name="expenseAmount" min = "1" max = "100000000" required="required"/>
                        <p ng-show="(addExpenseFormFamily.expenseAmount.$error.max || addExpenseFormFamily.expenseAmount.$error.min) &amp;&amp; !addExpenseFormFamily.expenseAmount.$pristine" class="help-block">Amount can be from 1 to 100000000</p>
                        <p ng-if="amountExpErrorMessage &amp;&amp; !(addCreditForm.expenseAmount.$error.max &amp;&amp; addCreditForm.expenseAmount.$error.min)" class="help-block">{{ amountExpErrorMessage }}</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : categoryCheckExp}">
                        <label for="categoryExp">Expense category:</label>
                        <select class="form-control" ng-model="form.categoryExpense" id="categoryExp">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>FOOD</option>
                            <option>RESIDENTIAL</option>
                            <option>ENTERTAINMENT</option>
                            <option>TAXES</option>
                            <option>EDUCATION</option>
                            <option>MEDICINE</option>
                            <option>TRANSPORT</option>
                            <option>GIFTS</option>
                            <option>CHILDREN</option>
                            <option>SPORT</option>
                            <option>CLOTHES</option>
                            <option>CREDIT</option>
                            <option>OTHER</option>
                        </select>
                        <p ng-if="categoryCheck" class="help-block">{{ categoryCheck }}</p>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="form.checkbox"/> Make operation repetitive each month
                    </div>
                    <div class="form-group">
                        <label for="income">Day of month:</label>
                        <input type="number" ng-disabled="!form.checkbox" ng-model="form.dayOfMonth"
                               class="form-control" placeholder="Enter day of month" name="incomeAmount"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary"
                                ng-disabled="!form.amountExp || !form.categoryExpense" ng-click="submitOperation()">Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="input-append" ng-show="user.familyDebitId.length > 0">
    <button class="btn btn-primary" ng-click="deleteFamilyAccount()">Delete Family Account</button>
</div>
