<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="d-sm-flex align-items-center justify-content-between mb-3 mt-2">
        <h1 class="h3 mb-0 text-gray-800">Family account "{{accountInfo.name}}"</h1>

        <div sec:authorize="hasAuthority('OWNER')">
            <a href="#" class="btn btn-secondary btn-icon-split ml-5" ng-click="deleteFamilyAccount()" ng-show="user.familyDebitId.length > 0" >
                <span class="text">Delete account</span>
            </a>
        </div>
        <div sec:authorize="hasAuthority('PARTICIPANT')">
            <a href="#" class="btn btn-danger btn-icon-split ml-5" ng-click="deleteParticipant(userInfo.eMail)" ng-show="user.familyDebitId.length > 0" >
                <span class="text">Leave</span>
            </a>
        </div>
    </div>
    <div class="row ml-auto">
        <div class="col mr-2 d-none d-lg-inline text-gray-600">
            <h4 class="text-right text-danger">{{userInfo.name}}</h4>
            <div class="small text-right">{{userInfo.eMail}}</div>
        </div></div>

</nav>

<div class="card shadow mb-4" ng-init="fetchFamilyHistoryPeriod(datePeriodPers.dateFromFrom, datePeriodPers.dateToTo)">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">History</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="hisInf in familyHistoryPer"  ng-class="{'text-success' : hisInf.categoryIncome, 'text-danger' : hisInf.categoryExpense}">
                    <td>
                                <span ng-show="hisInf.categoryIncome">
                                    Income
                                </span>
                        <span ng-show="hisInf.categoryExpense">
                                    Expense
                                </span>
                    </td>
                    <td>
                                <span ng-show="hisInf.categoryIncome">
                                    +{{hisInf.amount}}
                                </span>
                        <span ng-show="hisInf.categoryExpense">
                                    -{{hisInf.amount}}
                                </span>
                    </td>
                    <td>
                        {{hisInf.categoryIncome}}{{hisInf.categoryExpense}}
                    </td>
                    <td>{{hisInf.userName}}</td>
                    <td>{{hisInf.dateStr}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
