<nav>
    <div class="topnavPersonal" id="TopnavPersonal">
        <a href="#createFamilyCreditModal" data-toggle="modal">Create Credit</a>
        <a href="#incomeOp" data-toggle="modal">Add income</a>
        <a href="#expenseOp" data-toggle="modal">Add expense</a>
        <a href="#/personalReport">Report</a> <!--#2 class = Comment_form-->
        <a href="#prediction" data-toggle="modal">Prognosis</a> <!--#2 class = Comment_form-->
        <a href="#addUser" data-toggle="modal">Participants Control</a> <!--#2 class = Comment_form-->
    </div>
</nav>
<h1><span ng-show="family.debitId.length > 0">FamilyDebitID from RootScope: {{family.debitId}}</span></h1>
<!-- creating Family Account -->
<div class="input-append" ng-show="family.debitId.length == 0">
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="nameFamilyAccount"
           placeholder="Enter family account name" required="required" min="1"/>
    <button class="btn btn-primary" ng-click="createFamilyAccount()">Add Family Account</button>
</div>

    <div class="row">
<div class="col-xl-8 col-lg-6" ng-show="family.debitId.length > 0">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">History</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" ng-controller="FamilyDebitController">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">History</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Income</th>
                                    <th>Expense</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="hisInf in personalHistory">
                                    <td>{{hisInf.amount}}</td>
                                    <td>{{hisInf.categoryIncome}}</td>
                                    <td>{{hisInf.categoryExpense}}</td>
                                    <td>{{hisInf.date.year}}-{{hisInf.date.month}}-{{hisInf.date.day}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="col-lg-6" ng-show="family.debitId.length > 0">
    <form class="creditsForm" ng-controller="FamilyCreditController">
        <fieldset>
            <legend>Credits</legend>
            <center>
                <button class="creditButtons" id="infoCredit" disabled="disabled"
                        onclick="window.open('#/infoFamilyCredit/{{optionSelect.idCredit}}')">Info</button>
                <button class="creditButtons" id="deleteCredit" disabled="disabled" ng-click="deleteFamilyCredit()">Delete</button>
            </center>
            <div class="creditsDiv">
                <select id="creditsSelect" ng-click="checkSelect()" multiple="multiple" size="3">
                    <option ng-repeat="credInf in familyCredit" value="{{credInf.creditId}}">{{credInf.name}}</option>
                </select>
            </div>
        </fieldset>
    </form>
</div>
</div>

<div class="col-xl-8 col-lg-7" ng-show="family.debitId.length > 0">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Credits</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" ng-controller="FamilyCreditController">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Credits</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>name</th>
                                    <th>amount</th>
                                    <th>paidAmount</th>
                                    <th>dateFrom</th>
                                    <th>creditRate</th>
                                    <th>dateTo</th>
                                    <th>monthDay</th>
                                    <th>isPaid</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="credInf in familyCredit">
                                    <td>{{credInf.name}}</td>
                                    <td>{{credInf.amount}}</td>
                                    <td>{{credInf.paidAmount}}</td>
                                    <td>{{credInf.date.year}}-{{credInf.date.month}}-{{credInf.date.day}}</td>
                                    <td>{{credInf.creditRate}}</td>
                                    <td>{{credInf.dateTo.year}}-{{credInf.dateTo.month}}-{{credInf.dateTo.day}}</td>
                                    <td>{{credInf.monthDay}}</td>
                                    <td>{{credInf.isPaid}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="col-xl-8 col-lg-7" ng-show="family.debitId.length > 0">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Auto operations</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" ng-controller="PersonalDebitController">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Auto operations</div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>categoryExpense</th>
                                    <th>categoryIncome</th>
                                    <th>dayOfMonth</th>
                                    <th>amount</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="autoOperInf in personalAutoOperationHistory">
                                    <td>{{autoOperInf.categoryExpense}}</td>
                                    <td>{{autoOperInf.categoryIncome}}</td>
                                    <td>{{autoOperInf.dayOfMonth}}</td>
                                    <td>{{autoOperInf.amount}}</td>
                                    <td>{{autoOperInf.date.year}}-{{autoOperInf.date.month}}-{{autoOperInf.date.day}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<form ng-controller="FamilyCreditController" ng-submit="addFamilyCredit()">
    <div class="modal fade" id="createFamilyCreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel"> Creating credit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i><h6><p align="center" style="color:#565656">Please fill in all fields</p></h6></i>
                </div>
                <div class="modal-body">
                    <p><input type="text" class="form-control" placeholder="Enter credit name" ng-model="credit.name" id="creditName"/></p>
                    <p>Enter credit start date:</p>
                    <p><input type="date" class="form-control" id="dateFrom" ng-model="credit.date"/></p>
                    <p><input type="number" min="1" step="0.01" class="form-control" placeholder="Enter credit amount" ng-model="credit.amount"/></p>
                    <p><input type="number" min="0" step="0.01" class="form-control" placeholder="Enter credit paid amount" ng-model="credit.paidAmount"/></p>
                    <div class="slidecontainer">
                        <p id="creditRateText">Credit rate: </p>
                        <p><input type="range" min="0" max="100" step="0.1" class="slider" id="creditRateRange" ng-model="credit.creditRate"/></p>
                    </div>
                    <p>Enter credit ends date:</p>
                    <p><input type="date" class="form-control" id="dateTo" ng-model="credit.dateTo"/></p>
                    <p style="color:#565656"><h6>*The end date must be bigger than the start date </h6></p>
                    <p><input type="number" min="1" max="28" class="form-control" placeholder="Enter payment day of month" ng-model="credit.monthDay"/></p>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="isNotEmptyCredit(credit)" onclick="$('.modal').modal('hide')">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form ng-controller="FamilyPredictController" ng-submit="getPredict()" ng-show="family.debitId.length > 0">
    <div class="modal fade" id="prediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel1"> Prediction </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category">Income category:</label>
                        <select class="form-control" id="category" ng-model="predict.category">
                            <option>Income</option>
                            <option>Expense</option>
                        </select>
                    </div>
                    <p><input type="number" min="1" class="form-control" placeholder="Enter duration"
                              ng-model="predict.duration"/></p>
                    <pre>Predict sum: {{status}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!predict.duration || !predict.category"
                            ng-click="fetch()">Predict
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Income/Auto_Income Operations -->
<div class="modal fade" id="incomeOp" tabindex="-1" role="dialog" aria-labelledby="incomeOpLabel" aria-hidden="true"
     ng-show="family.debitId.length > 0">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="incomeOpLabel"> New income </h4>
            </div>
            <div class="modal-body" ng-controller="AddIncomeControllerFamily">
                <form>
                    <div class="form-group">
                        <label for="income">Amount:</label>
                        <input type="number" ng-model="form.amount" class="form-control" step=".01" id="income"
                               placeholder="Enter amount" name="incomeAmount"/>
                    </div>
                    <div class="form-group">
                        <label for="categoryInc">Income category:</label>
                        <select class="form-control" ng-model="form.categoryIncome" id="categoryInc">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>SALARY</option>
                            <option>AWARD</option>
                            <option>PRESENTS</option>
                            <option>GIFTS</option>
                            <option>OTHER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="form.checkbox"/> Make operation repetitive each month
                    </div>
                    <div class="form-group">
                        <label for="income">Day of month:</label>
                        <input type="number" ng-disabled="!form.checkbox" ng-model="form.dayOfMonth"
                               class="form-control" placeholder="Enter day of month" name="expenseAccount"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary"
                                ng-disabled="!form.amount || !form.categoryIncome" onclick="$('.modal').modal('hide')"
                                ng-click="submitOperation()">Add
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Expense/Auto_Expense Operations -->
<div class="modal fade" id="expenseOp" tabindex="-1" role="dialog" aria-labelledby="expenseOpLabel" aria-hidden="true"
     ng-show="family.debitId.length > 0">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="expenseOpLabel"> New expense </h4>
            </div>
            <div class="modal-body" ng-controller="AddExpenseControllerFamily">
                <form>
                    <div class="form-group">
                        <label for="expense">Amount:</label>
                        <input type="number" ng-model="form.amountExp" class="form-control" step=".01" id="expense"
                               placeholder="Enter amount" name="expenseAmount"/>
                    </div>
                    <div class="form-group">
                        <label for="categoryExp">Expense category:</label>
                        <select class="form-control" ng-model="form.categoryExpense" id="categoryExp">
                            <option disabled="disabled" selected="selected">DEFAULT</option>
                            <option>FOOD</option>
                            <option>RESIDENTIAL</option>
                            <option>ENTERTAINMENT</option>
                            <option>TAXES</option>
                            <option>EDUCATION</option>
                            <option>MEDICINE</option>
                            <option>TRANSPORT</option>
                            <option>GIFTS</option>
                            <option>CHILDREN</option>
                            <option>SPORT</option>
                            <option>CLOTHES</option>
                            <option>CREDIT</option>
                            <option>OTHER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="form.checkbox"/> Make operation repetitive each month
                    </div>
                    <div class="form-group">
                        <label for="income">Day of month:</label>
                        <input type="number" ng-disabled="!form.checkbox" ng-model="form.dayOfMonth"
                               class="form-control" placeholder="Enter day of month" name="incomeAmount"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary"
                                ng-disabled="!form.amountExp || !form.categoryExpense"
                                onclick="$('.modal').modal('hide')" ng-click="submitOperation()">Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- add user to family account -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="incomeOpLabel" aria-hidden="true"
     ng-show="family.debitId.length > 0">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title" id="addUserLabel"> New Participant </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="income">User login</label>
                        <input type="text" ng-model="loginParticipant" class="form-control"
                               id="participant" placeholder="Enter user login"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary" ng-disabled="!loginParticipant"
                                onclick="$('.modal').modal('hide')" ng-click="deleteParticipant()">Delete User
                        </button>
                        <button type="submit" value="Submit" class="btn btn-primary" ng-disabled="!loginParticipant"
                                onclick="$('.modal').modal('hide')" ng-click="addParticipant()">Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="input-append" ng-show="family.debitId.length > 0">
    <button class="btn btn-primary" ng-click="deleteFamilyAccount()">Delete Family Account</button>
</div>
