<!doctype html>
<html lang="en" ng-app="AngularSpringApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Service App</title>
    <link rel="stylesheet" href="resources/css/specialFinance.css"/>
    <link rel="stylesheet" href="resources/css/createCredit.css"/>
    <link rel="stylesheet" href="resources/css/infoCredit.css"/>
    <link rel="stylesheet" href="resources/css/sidebar.css"/>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="resources/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <!--    <script src="resources/js/angular/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.css"/>
    <!--    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>-->
    <!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-animate.min.js"></script>-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-aria.min.js"></script>-->
</head>


<body>
<header>
    <input type="checkbox" id="nav-toggle" hidden="hidden"/>
    <nav class="navIndex">
        <label for="nav-toggle" class="nav-toggle" onclick=""></label>
        <ul>
            <li><a href="#/personalDebit"><b>Personal account</b></a></li>
            <li><a href="#/familyAccount"><b>Family account</b></a></li>
            <li><a href="#passwordModal" data-toggle="modal" th:color="transparent">Change password</a></li>
            <li><a href="#emailModal" data-toggle="modal">Change email</a></li>
            <li><a href="#/">Delete account</a></li>
            <li><a href="#/" th:action="@{/logout}">Log out</a></li>
        </ul>
    </nav>
    <!--<nav>
        <div class="topnav" id="myTopnav">
            <a href="#/personalDebit">Personal account</a>
            <a href="#/familyAccount">Family account</a>
        </div>
        <div class="name">
        </div>
        <ul class="menu">
            <li><a href="#" id="menu" class="icon">&#9776;</a>
                <ul class="submenu">
                    <input th:color="transparent" type="button" class="btn btn-primary" data-toggle="modal"
                           data-target="#passwordModal"
                           value="Change password   "/>

                    <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal"
                           value="Change email    "/>

                    <form action="">
                        <input class="btn btn-primary" type="submit" value="Delete Acc     "/>
                    </form>
                    <form action="" th:action="@{/logout}" method="get">
                        <input class="btn btn-primary" type="submit" value="Log out      "/>
                    </form>
                </ul>
            </li>
        </ul>
    </nav>-->
</header>

<!-- Modal  password-->
<form action="" th:action="@{/updatePassword}" method="post">
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="passwordModalLabel"> Change password </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--                <span th:if="${errorOldEmail != null}"   th:text="${errorOldEmail}"> </span>-->
                    <input class="form-control" placeholder="New password" type="text" name="newPassword"/>
                    <p></p>
                    <input class="form-control" placeholder="Confirm password" type="text" name="newConfirmPassword"/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Save changes"/>

                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modal email -->
<form action="" th:action="@{/updateEmail}" method="post">
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title" id="emailModalLabel"> Change Email </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span th:if="${errorOldEmail != null}" th:text="${errorOldEmail}"> </span>
                    <input class="form-control" placeholder="Old Email" type="password" name="oldEmail"/>
                    <p></p>
                    <input class="form-control" placeholder="New Email" type="password" name="newEmail"/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Save changes"/>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="wrapper">
    <div ng-view=""></div>
</div>
<script src="resources/js/angular/angular.js"></script>
<script src="resources/js/app.js"></script>
<script type="text/javascript" src="resources/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="resources/js/controllers/PersonalDebitController.js"></script>
<script src="resources/js/controllers/PersonalCreditController.js"></script>
<script src="resources/js/controllers/OperationsController.js"></script>
<script src="resources/js/controllers/FamilyDebitController.js"></script>
<script src="resources/js/controllers/PersonalPredictController.js"></script>
<script src="resources/js/controllers/FamilyPredictController.js"></script>
</body>
</html>